.search-app {
    background-color: black !important;
    height: auto;
}

.search-app h1 {
    color: #fff;
}

.search-form {
    width: 50%;
    padding-top: 10vh;

    text-align: center;
    margin: auto;
}

.search-list {
    margin-left: 15px;
}
